<div class="experience-timeline">
  {{- $items := site.Data.experience.experience -}}
  {{- range $i, $e := $items -}}
  {{- $start := "" -}}
  {{- $end := "Present" -}}
  {{- if $e.date_start }}{{ $start = time.Format "Jan 2006" $e.date_start }}{{ end -}}
  {{- if $e.date_end }}{{ $end = time.Format "Jan 2006" $e.date_end }}{{ end -}}
  {{- $logo := "" -}}
  {{- with $e.company_logo -}}
    {{- if hasPrefix "/" . -}}
      {{- $logo = . | relURL -}}
    {{- else if in . "." -}}
      {{- $logo = printf "/%s" . | relURL -}}
    {{- else -}}
      {{- $logo = printf "/media/icons/brands/%s.svg" . | relURL -}}
    {{- end -}}
  {{- end -}}
  <article class="timeline-item{{ if eq $i 0 }} is-current{{ end }}">
    <div class="timeline-marker" aria-hidden="true">
      {{- if $logo -}}
        <img src="{{ $logo }}" alt="" loading="lazy">
      {{- else -}}
        <span>{{ substr $e.company 0 1 }}</span>
      {{- end -}}
    </div>
    <div class="timeline-card">
      <div class="timeline-card-head">
        <div>
          <h4 class="timeline-title">{{ $e.title }}</h4>
          <div class="timeline-meta">
            {{- if $e.company_url -}}
              <a class="timeline-company" href="{{ $e.company_url }}" target="_blank" rel="noopener">{{ $e.company }}</a>
            {{- else -}}
              <span class="timeline-company">{{ $e.company }}</span>
            {{- end -}}
            {{ if $e.location }}<span class="timeline-location">{{ $e.location }}</span>{{ end }}
          </div>
        </div>
        <time class="timeline-date">{{ $start }}{{ if $start }} - {{ end }}{{ $end }}</time>
      </div>
      <div class="timeline-desc">{{ $e.description | markdownify }}</div>
    </div>
  </article>
  {{- end -}}
</div>
